body{
    overflow-x: hidden;
}

.slides li{
    text-shadow: 1px 1px black;
}

.row container p{
    width: 20px;
}

h5{
    color: white;
}

h1{
    text-shadow: 1px 1px black;
}

#section1{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.footerp{
    margin: 0px 0px 0px 0px;
    color: white;
}

#test{
    height: 520px;
}

#cards{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#h1project{
    text-shadow: 1px 1px black;
}

#center{
    margin: 0px 0px 0px 0px;
}

img{
    padding-top: 20px;
}

#wieimg{
    max-height: 979px;
}

#layoutimg{
    max-height: 836px;
}

#robotimg{
    max-height: 300px;
}

.frame{
    background-image: url("../img/Treebase.jpg")
}

.frame2{
    background-color: rgba(218, 218, 218, 0.308);
    width: 500px;
    padding: 10px;
}

#contact{
    font-size: 19px;
}