.row container p{
    width: 20px;
}

h5{
    color: white;
}

h1{
    text-shadow: 1px 1px black;
}

#section1{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

footer{
    max-width: 100%;
    height: auto;
    bottom: 0px;
    padding: 0px 1707px 0px 0px;
    background-color: #212121
} 

.footerp{
    margin: 0px 0px 0px 0px;
    color: white;
}

#test{
    height: 520px;
}

#cards{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

#h1project{
    text-shadow: 1px 1px black;
}

#center{
    margin: 0px 0px 0px 0px;
}

img{
    padding-top: 20px;
}

#robotimg{
    height: 300px;
}